.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  border-top: 1px #eee solid;
  background-color: #fff;
  font-family: "Pacifico";
  z-index: 3;
}

.footer nav {
  height: 100%;
}

/* Icon selector */
.footer svg {
  font-size: 1.5rem;
  pointer-events: none;
}

.navUl {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.navUl li {
  display: inline;
  width: 100%;
}

.navLink {
  background-color: #fff;
  text-decoration: none;
  color: #333;
}

.navWrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding-top: 1.5rem;
  height: 100%;
}

.active {
  color: red;
}
