.libraryWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 0;
  background-color: white;
}

.sectionLink,
.sectionLink * {
  height: inherit;
  width: inherit;
}

.searchForm {
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

.searchBar {
  display: block;
  height: 4rem;
  width: inherit;
  margin: 1rem auto;
  padding-left: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: #eee;
  box-sizing: border-box;
}

.searchIcon,
.xButton {
  position: fixed;
  left: 4.5rem;
  top: 7rem;
  color: #aaa;
  width: 2rem;
  height: 2rem;
}

.xButton {
  right: 4.5rem;
  left: auto;
  background-color: transparent;
  border: none;
}

.libraryWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 4rem;
  height: 100%;
  /* position: absolute; */
}

.trackWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px #eee solid;
  text-decoration: none;
  color: inherit;
  /* z-index: -1; */
  background-color: inherit;
  position: relative;
}

.trackWrapper a {
  color: black;
  text-decoration: none;
}

.trackWrapper:active {
  background-color: #fcfbf8;
}

.trackDropdown {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;
  padding-left: 0.7rem;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.trackDropdown > * {
  margin-top: 0.5rem;
}

.dropdownOption {
  display: flex;
  width: inherit;
  padding-left: 0;
}

.dropdownOption *:first-child {
  padding-right: 0.5rem;
  width: 1rem;
}

.dropdownOption:active {
  color: red;
}

.playingNow {
  background-color: #eee;
}

.duration {
  color: #bbb;
}

.trackRightControls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trackImageWrap {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.trackImageWrap,
.trackImageWrap,
.overlay {
  height: 3rem;
  width: 3rem;
}

.trackImageWrap img {
  /* border: 1px grey solid; */
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}

.trackImage {
  border-radius: 0.5rem;
}

.artistImage {
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.bar {
  width: 0.2rem;
  height: 1.9rem;
  background-color: white;
  margin: 0.25rem;
  border-radius: 0.5rem;
  animation: mainBar ease-in-out 0.8s infinite;
}

.midBar {
  height: 0.8rem;
  width: 0.2;
  animation: secBar ease-in-out 0.8s infinite;
}

.paused {
  animation-play-state: paused;
}

.addPlaylist {
  color: red;
  position: fixed;
  top: 1.5rem;
  right: 0;
  z-index: 3;
  font-size: 2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  margin-top: -20rem;
  margin-left: -10rem;
  z-index: 4;
}

.modalChildrenContainer {
  width: inherit;
}

.modal > button {
  align-self: flex-end;
}

.playlistForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.newPlaylistFormLabel > input,
.playlistForm label > h3 {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.playlistForm input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background: #eee;
  box-sizing: border-box;
}

.playlistForm > button[type="submit"] {
  width: auto;
  margin-top: 1rem;
  align-self: flex-end;
  background-color: black;
  border-radius: 1rem;
  color: white;
}

.formScrollContainer {
  overflow-y: auto;
  max-height: 15rem;
}

.checkboxLabel,
.textboxLabel,
.editTextLabel {
  display: flex;
  border-bottom: 1px #eee solid;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.textboxLabel {
  border-bottom: none;
  margin-top: 1rem;
  padding-left: 0.6rem;
}

.textboxLabel input[type="text"] {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.checkboxLabel svg,
.textboxLabel svg {
  margin-top: auto;
  margin-bottom: auto;
}

.checkboxLabel:active {
  background-color: #eee;
}

.checkboxLabel > input[type="checkbox"] {
  margin: 0;
  margin-left: auto;
  opacity: 0;
}

.checkboxLabel > *:last-child {
  margin-left: auto;
}

.editTextLabel {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.editTextLabel > span {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.editTextLabel > span > svg {
  float: right;
}

.editTextLabel input[type="text"] {
  width: inherit;
}

@keyframes mainBar {
  0% {
    height: 1.8rem;
  }
  60% {
    height: 0.6rem;
  }
  100% {
    height: 2rem;
  }
}

@keyframes secBar {
  0% {
    height: 0.4rem;
  }
  60% {
    height: 1.9rem;
  }
  100% {
    height: 0.6rem;
  }
}
