.libraryWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 1;
}

.searchForm {
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.searchBar {
  display: block;
  height: 4rem;
  width: inherit;
  margin: 1rem auto;
  padding-left: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: #eee;
  box-sizing: border-box;
}

.searchIcon,
.xButton {
  position: fixed;
  left: 4.5rem;
  top: 7rem;
  color: #aaa;
  width: 2rem;
  height: 2rem;
}

.xButton {
  right: 4.5rem;
  left: auto;
  background-color: transparent;
  border: none;
}

.libraryWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.trackWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px #eee solid;
  z-index: 0;
}

.trackWrapper:active {
  background-color: #fcfbf8;
}

.playingNow {
  background-color: #eee;
}

.duration {
  color: #bbb;
}

.trackRightControls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trackImageWrap {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.trackImageWrap,
.trackImageWrap,
.overlay {
  height: 3rem;
  width: 3rem;
}

.trackImageWrap img {
  border: 1px grey solid;
  border-radius: 0.5rem;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.bar {
  width: 0.2rem;
  height: 1.9rem;
  background-color: white;
  margin: 0.25rem;
  border-radius: 0.5rem;
  animation: mainBar ease-in-out 0.8s infinite;
}

.midBar {
  height: 0.8rem;
  width: 0.2;
  animation: secBar ease-in-out 0.8s infinite;
}

.paused {
  animation-play-state: paused;
}

@keyframes mainBar {
  0% {
    height: 1.8rem;
  }
  60% {
    height: 0.6rem;
  }
  100% {
    height: 2rem;
  }
}

@keyframes secBar {
  0% {
    height: 0.4rem;
  }
  60% {
    height: 1.9rem;
  }
  100% {
    height: 0.6rem;
  }
}
