/* http://paletton.com/#uid=3140u0ktSw0iyF5nLziwPpSB8kp */
.color-primary-0 {
  color: #ffba11;
} /* Main Primary color YELLOW */
.color-primary-1 {
  color: #ffd46b;
}
.color-primary-2 {
  color: #ffc842;
}
.color-primary-3 {
  color: #ce9300;
}
.color-primary-4 {
  color: #a27400;
}

.color-light-yellow {
  color: #e1ce7a;
}

/* https://coolors.co/export/png/ffbb11-1a272e-21313a-202c39-283845 */
/* https://coolors.co/export/png/ffbb11-1a272e-21313a-000505-3b3355 */

.color-secondary-1-0 {
  color: #4e1cae;
} /* Main Secondary PURPLE */
.color-secondary-1-1 {
  color: #835fc8;
}
.color-secondary-1-2 {
  color: #663cb6;
}
.color-secondary-1-3 {
  color: #390e8d;
}
.color-secondary-1-4 {
  color: #2c096f;
}

.color-secondary-2-0 {
  color: #1179a0;
} /* Main Secondary color BLUE */
.color-secondary-2-1 {
  color: #55a1be;
}
.color-secondary-2-2 {
  color: #3188aa;
}
.color-secondary-2-3 {
  color: #055f81;
}
.color-secondary-2-4 {
  color: #034b66;
}

.main {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.contentContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 0 auto;
}

.p1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p1Content {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  text-shadow: 2px 2px #a2740080;
  font-size: 45px;
  color: #fff;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.25;
  padding: 0 10px;
}

.landingBlurb {
  color: white;
  text-shadow: 2px 2px #a2740040;
  /* text-shadow: 2px 2px rgba(0, 0, 0, 0.2); */
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.75;
  font-family: Open Sans;
}

.p2 {
  background: #fff9eb;
  padding: 50px 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}

.p2 h1 {
  color: #444;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 0 20px;
}

.p2Blurb {
  padding: 10px 20px;
  color: #555;
  margin-top: 0;
}

.sectionContainer {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4));
  grid-template-rows: 125px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.sourceCard {
  border-radius: 7px;
  padding: 20px;
  height: 100%;
  color: #555;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sourceCard a {
  opacity: 0;
  transition: 0.3s ease;
  text-decoration: none;
  color: black;
  font-family: "Open Sans";
  font-weight: bold;
  border-radius: 7px;
  border: 1px transparent solid;
  border: 1px #333 solid;
  padding: 5px 10px;
  margin-top: auto;
  background: #ffd46b;
  transition-delay: 0s;
}

.sourceCard:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-top: calc(2 / 16 * 100%);
}

.sourceCard svg {
  font-size: 3em;
}

.p2Wrapper .p2:first-child {
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}
.p2Wrapper .p2:not(:first-child):not(:last-child) {
  border-radius: 0;
  box-shadow: none;
}
.p2Wrapper .p2:last-child {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.mockupImg {
  height: auto;
  width: 100vw;
  max-width: 1200px;
}

.demoWrapper {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  max-width: 1100px;
}

.demoWrapper iframe,
.demoWrapper object,
.demoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .sourceCard:hover {
    transition: 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
  }

  .sourceCard:hover a {
    transition-delay: 0.3s;
    opacity: 1;
  }

  .sourceCard a:hover {
    transition-delay: 0s;
    border-color: #555;
    background-color: white;
    color: inherit;
  }

  .spotify a:hover {
    border: 1px #1db954 solid;
  }

  .youtube a:hover {
    border: 1px red solid;
  }

  .spotify:hover {
    color: #1db954;
  }

  .soundcloud:hover {
    color: #f50;
  }

  .youtube:hover {
    color: #ff0000;
  }

  .mixcloud:hover {
    color: rgb(80, 0, 255);
  }
}

@media (min-width: 330px) {
  .slogan {
    font-size: 50px;
    padding: 0 10px;
  }
}

@media (min-width: 500px) {
  .slogan {
    text-shadow: 3px 3px #a2740080;
    font-size: 60px;
  }

  .p2Blurb {
    padding: 10px 30px;
  }
}

@media (min-width: 600px) {
  .sectionContainer {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 150px;
  }

  .sourceCard {
    font-size: 11px;
  }
}

@media (min-width: 750px) {
  .p1Content {
    padding: 110px 0;
  }

  .p3Content {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .slogan {
    font-size: 70px;
  }

  .mockupImg {
    width: 90vw;
  }
}

@media (min-width: 900px) {
  .p1Content {
    padding: 125px 0;
  }
  .p3Content {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .p2 h1 {
    font-size: 35px;
  }

  .sourceCard {
    font-size: 12px;
  }

  .sectionContainer {
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 200px;
    padding: 20px 0;
  }
}

@media (min-width: 1200px) {
  .slogan {
    font-size: 85px;
  }

  .p1Content {
    padding: 150px 0;
  }

  .p3Content {
    padding-top: 200px;
    padding-bottom: 250px;
  }
}
