.loginWrapper {
  width: 300px;
  padding: 2rem;
  background: #fff9eb;
  border-radius: 7px;
  box-shadow: 1px 3px 10px #a2740080;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
  margin: auto;
}

.loginWrapper a {
  text-decoration: none;
}

.loginHeaderWrapper {
  display: flex;
  align-items: center;
}

.loginHeaderWrapper h1 {
  font-size: 2rem;
  display: inline;
  text-align: center;
  color: grey;
  margin: 0 auto;
  width: 100%;
}

.loginHeaderWrapper a {
  width: 100%;
}

.loginHeaderWrapper svg {
  transition: 0.2s ease;
  height: 60px;
}

.loginHeaderWrapper:hover svg {
  transform: scale(1.05);
}

.loginWrapper h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

.loginListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  text-align: center;
}

.oAuthLink {
  display: flex;
  width: 220px;
  background: white;
  color: black;
  padding: 12px 10px 14px;
  border-radius: 7px;
  justify-content: space-around;
  align-items: center;
  transition: 150ms ease-in-out;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.2);
  border: 1px #999 solid;
}

.oAuthLink:hover {
  box-shadow: none;
}

.oAuthLink:active {
  transition: 0.3s;
  background-color: whitesmoke;
}

.loginListWrapper .oAuthLink:first-child:hover {
  border: 1px #1db954 solid;
  color: #1db954;
}
.loginListWrapper .oAuthLink:nth-child(2):hover {
  border: 1px red solid;
  color: red;
}

.link {
  color: #3188aa;
}
.link:hover {
  text-decoration: underline;
}

.loginListWrapper,
.otherPanelWrapper {
  font-size: 14px;
  font-weight: 600;
}
