@import "variables";

.button {
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-family: "Open Sans";
  font-weight: bold;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 15px;
}

@mixin generateSecondaryButton($color) {
  color: rgba($color, 0.8);
  border: 1px solid rgba($color, 0.3);
  background: rgba($color, 0.05);
  font-size: 13px;
  font-weight: 300;

  &:hover {
    color: $color;
    background: rgba($color, 0.15);
  }
}

.primaryButton {
  background-color: $primaryDark;
  color: black;

  &:hover {
    background-color: $primary;
  }
}

.cancelButton {
  color: $iconButton;

  &:hover {
    color: $iconButtonHighlight;
  }
}

.dangerousButton {
  @include generateSecondaryButton($dangerous);
  margin-top: 15px;
  padding: 10px;
}

.spotifySearchButton {
  @include generateSecondaryButton($spotify);
}

.soundcloudSearchButton {
  @include generateSecondaryButton($soundcloud);
}

.youtubeSearchButton {
  @include generateSecondaryButton($youtube);
}

.mixcloudSearchButton {
  @include generateSecondaryButton($mixcloud);
}

.searchSourceButton {
  color: #ccc;

  &:hover {
    color: white;
  }

  &:disabled,
  &:hover:disabled {
    color: #666;
    border-color: #666;
    background: transparent;
    cursor: not-allowed;
  }
}

.settingsTabButton {
  font-size: 13px;
  font-weight: 300;
  border-radius: 7px 7px 0 0;
  border: 1px solid transparent;
  padding: 8px 10px;
  bottom: -1px;
  position: relative;
  transition: 0.2s ease;
  color: $textDarkBg;

  svg {
    margin-right: 5px;
    opacity: 0.6;
    transition: 0.2s ease;
  }

  &:hover {
    color: white;
  }

  &:hover svg {
    opacity: 1;
  }
}

.activeTab {
  border-color: $borderAccent;
  background-color: $bg7;
  border-bottom-color: $bg7;
  color: white;
  transform: scale(1.05) translateY(-1px);
}

.kordTab svg {
  height: 19px;
  vertical-align: -4px;
}

.showMoreResultsButton {
  @include generateSecondaryButton($primary);
  padding: 8px 10px;
  margin: 12px 0;
  background-color: transparent;

  &:disabled {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
    cursor: auto;
  }
}

.iconButton {
  width: 25px;
  padding: 0;
  color: white;

  svg {
    transition: 0.2s linear;
    color: inherit;
    fill: white;
  }

  &:hover {
    color: $primaryLight;

    svg {
      color: $primaryLight;
      fill: $primaryLight;
    }
  }

  &:active {
    transform: scale(0.8);
  }
}

.largeIconButton {
  color: $iconButton;
  padding: 10px;
  border: 1px transparent solid;

  &:hover {
    color: $iconButtonHighlight;
  }

  &:disabled {
    color: $disabled;
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled:active,
  &:hover:disabled {
    background-color: inherit;
  }
}

.playPauseButton {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.largePlayPauseButton {
  @extend .playPauseButton;

  font-size: 19px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #192124;
  background: linear-gradient(
    330deg,
    rgba(255, 187, 17, 1) 0%,
    rgba(255, 200, 66, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.clearQueueButton {
  color: #aaa;
  border: 1px #383f41 solid;

  font-size: 12px;
  font-weight: 300;
  padding: 5px 10px;
  margin: 0 5px 0 auto;
  border-radius: 5px;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
    color: white;
  }
}
