.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100vw;
  height: 84px;
  border-top: 1px #eee solid;
  font-family: "Pacifico";
}

/* Icon selector */
.footer svg {
  font-size: 1.5rem;
  pointer-events: none;
}

.navLink {
  justify-content: space-evenly;
  text-decoration: none;
  color: #777;
  background-color: #121a1df2;
}

.navLink:active .navWrap {
  background-color: white;
}

.navWrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding-top: 1.5rem;
  height: 100%;
  width: 33vw;
}

.active {
  transition: 0.1s ease;
  background-color: #192124;
  color: #ddd;
  font-size: 15px;
}

@media (min-width: 800px) {
  .footer {
    display: none;
  }
}
