@import "variables";

$oneThird: percentage(1/3);

.footer {
  font-family: "Open Sans";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100vw;
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $bg0;
}

.mobileFooterWrapper {
  font-family: "Pacifico";
  width: inherit;
  display: grid;
  grid-template-columns: $oneThird $oneThird $oneThird;
  border-top: 1px $borderAccent solid;
  height: 84px;
}

.navLink {
  text-decoration: none;
  color: $textDarkBg;
  background: linear-gradient(90deg, $bg0, $bg0, $bg0);
  transition: 0.1s linear;
  height: inherit;

  svg {
    font-size: 1.5rem;
    pointer-events: none;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    transition: 0.1s linear;

    &:hover {
      color: white;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &:active {
    background: linear-gradient(90deg, $bg0, $bg7, $bg0);
  }
}

.active {
  background: linear-gradient(90deg, $bg0, $bg5, $bg0);

  div {
    color: #eee;
    transform: scale(1.1);
  }
}

@media (min-width: 800px) {
  .footer {
    left: 230px;
    height: 81px;
    width: calc(100vw - 230px);
  }

  .mobileFooterWrapper {
    display: none;
  }
}
