.header {
  /* Mobile Header */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  border-bottom: 1px #383f41 solid;
  background: #151d20;
  padding-top: 1rem;
  z-index: 1;
}

.mobileContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileContainer h1 {
  font-family: Pacifico;
  margin: 0;
  margin-top: -0.5rem;
  color: white;
}

.mobileContainer .placeholder {
  /* This ensures the header stays centered */
  flex: 1;
}

.mobileContainer button:first-child {
  text-align: left;
  color: red;
}

.deskHeader {
  position: fixed;
  /* width: 100%; */
  z-index: 1;
  left: 230px;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  background: #151d20;
  box-sizing: border-box;
}

.deskHeaderContainer {
  height: 60px;
  background-color: #151d20;
  border-bottom: 1px #383f41 solid;
  padding: 10px;
  display: flex;
  align-items: center;
  /* box-sizing: border-box; */
}

.navGroup {
  height: 100%;
  width: 80px;
  /* display: flex; */
  display: none;
  justify-content: space-around;
  align-items: center;
}

.navGroup button {
  cursor: pointer;
  color: white;
  width: 25px;
  height: 25px;
  background-color: #272f31;

  border-radius: 50%;
}

.navGroup button:hover {
  background-color: #666;
}

.userSettingsButtonWrapper {
  margin-left: auto;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.userSettingsButton {
  cursor: pointer;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px #383f41 solid;
  outline: none;
}

.userSettingsButton > img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userSettingsButton:hover {
  border-width: 2px;
}

.profileMenu {
  position: absolute;
  right: 30px;
  top: 70px;
  /* background-color: #383f41; */
  background-color: #2c3336;
  border-radius: 7px;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.profileMenu > button {
  color: #ccc;
  font-family: "Open Sans";
  font-size: 14px;
  padding: 7px 20px;
  text-align: left;
  outline: none;
  width: 100%;
  transition: 0.2s ease;
}

.profileMenu > button:hover {
  background-color: #383f41;
  color: #fff;
}

.logoutButton span {
  display: none;
}

.logoutButton:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #fb1;
}

@media (min-width: 800px) {
  .header {
    display: none;
  }
  .deskHeader {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .navGroup {
    display: flex;
  }
  .logoutButton span {
    display: inline;
  }
  .logoutButton svg {
    display: none;
  }
}
