.header {
  /* Mobile Header */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  border-bottom: 1px #383f41 solid;
  background: #151d20;
  padding-top: 1rem;
  z-index: 1;
}

.mobileContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileContainer h1 {
  font-family: Pacifico;
  margin: 0;
  margin-top: -0.5rem;
  color: white;
}

.mobileContainer .placeholder {
  /* This ensures the header stays centered */
  flex: 1;
}

.mobileContainer button:first-child {
  text-align: left;
  color: red;
}

.deskHeader {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  display: none;
  flex-direction: column;
  background: #151d20;
  box-sizing: border-box;
}

.deskHeaderContainer {
  height: 60px;
  background-color: #151d20;
  border-bottom: 1px #383f41 solid;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.navGroup {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navGroup button {
  cursor: pointer;
  color: white;
  width: 25px;
  height: 25px;
  background-color: #272f31;

  border-radius: 50%;
}

.navGroup button:hover {
  background-color: #666;
}

@media (min-width: 800px) {
  .header {
    display: none;
  }
  .deskHeader {
    display: flex;
  }
}
