@import "variables";

.settingsList {
  padding: 5px 50px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      font-weight: 300;
      font-family: "Open Sans";
      width: 50%;
      text-align: left;
    }

    & > :nth-child(2) {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
