.pageWrapper {
  overflow: hidden;
  margin-top: 61px;
  margin-bottom: 135px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.libraryWrapper {
  display: flex;
  flex-direction: column;
  background-color: #192124;
  border-radius: 7px;
  margin: 0;
  background-color: #1e2629;
  text-align: left;
  transition: 0.3s ease-in;
}

.listContainer {
  height: max-content;
  width: 100%;
  transition: 0.4s ease-in-out;
  text-align: center;
  border-radius: 7px;
  background-color: #1e2629;
  padding: 1rem 0 2rem 0;
  box-sizing: content-box;
}

.listContainer > button {
  outline: none;
}

.listTitle {
  text-align: left;
  padding-left: 2rem;
  color: #ccc;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

.showMoreButton {
  color: black;
  background-color: #ce9300;
  font-weight: 600;
  border-radius: 7px;
  padding: 10px;
  transition: 0.3s ease-out;
  cursor: pointer;
  margin: 12px 0;
}

.showMoreButton:hover {
  background-color: #fb1;
}

.endOfResults {
  color: #ccc;
}

.artistLink {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.trackWrapper {
  display: flex;
  align-items: center;
  min-height: 65px;
  width: 100%;
  max-width: 1310px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #ddd;
  background-color: inherit;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  border-radius: 7px;
}

.trackWrapper:focus {
  outline: none;
}

.trackWrapper a {
  color: black;
  text-decoration: none;
}

.trackWrapper:focus,
.trackWrapper:hover {
  transition: 0.3s ease-out;
  background-color: #2f3638;
}

.trackWrapper:hover .singleSource {
  opacity: 1;
}

.titleWrapper {
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.titleWrapper > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stackedArtistName {
  color: #ffd46b;
}

.singleSource {
  transition: 0.3s ease-out;
  opacity: 0;
}

.ellipsisV {
  transition: 0.3s ease;
  opacity: 0;
  width: 100px;
  text-align: left;
}

.ellipsisH,
.ellipsisV {
  color: #aaa;
  text-align: center;
}

.trackDropdown {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #383f41;
  padding: 0.5rem;
  padding-left: 0.7rem;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.trackDropdown > * {
  margin-top: 0.5rem;
}

.dropDownButton {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  transition: 0.4s ease;
}

.dropDownButton:hover {
  background-color: #192124;
  border: 1px #2f3638 solid;
  cursor: pointer;
}

.dropDownButton:active {
  transform: scale(1.3);
}

.activeDropDown {
  color: black;
  border: 1px #2f3638 solid;
  background-color: #192124;
}

.activeDropDown span,
.dropDownButton:hover span {
  color: #ffd46b;
}

.dropDownButton:focus {
  outline: none;
}

.dropdownOption {
  color: #ccc;
  display: flex;
  width: inherit;
  padding-left: 0;
}

.dropdownOption:hover {
  cursor: pointer;
  color: white;
}

.dropdownOption:active {
  color: #fb1;
  outline: none;
}

.dropdownOption *:first-child {
  padding-right: 0.5rem;
  width: 1rem;
}

.playingNow {
  transition: 0.3s ease-out;
  background-color: #2f3638;
}

.notStreamable {
  opacity: 0.4;
  cursor: default;
}

.duration {
  color: #bbb;
}

.trackRightControls {
  margin-left: auto;
  min-width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackImageWrap {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  border-radius: 7px;
}

.trackImageWrap,
.trackImageWrap,
.overlay,
.trackPlayButton {
  height: 3rem;
  width: 3rem;
}

.trackImageWrap img {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}

.trackImage,
.artistImage {
  border-radius: 7px;
}

.playingNow .overlay,
.trackWrapper:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.3s ease-out;
}

.trackPlayButton {
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
  opacity: 1;
  font-size: 14px;
  outline: none;
}

.trackPlayButton:hover {
  transform: scale(1.2);
}

.trackPlayButton:active {
  transform: scale(1);
}

.bar {
  min-width: 4px;
  height: 1.9rem;
  background-color: white;
  margin: auto 3px;
  border-radius: 3px;
  animation: mainBar ease-in-out 0.9s infinite;
}

.midBar {
  height: 1.9rem;
  animation: secBar ease-in-out 0.9s infinite;
}

.paused {
  animation-play-state: paused;
}

.mobileAddPlaylist {
  color: red;
  position: fixed;
  top: 1.5rem;
  right: 0;
  z-index: 3;
  font-size: 2rem;
}

.categoryListWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: #171e21;
}

.desktopCategoryList {
  display: none;
}

.categoryWrapper {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px #333 solid;
  color: inherit;
  background-color: inherit;
  overflow: hidden;
  text-decoration: none;
  color: #626d70;
}

.playlistList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  background-color: #192124;
}

.playlistItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2629;
  text-decoration: none;
  color: #ccc;
  padding: 2rem;
  border-radius: 7px;
}

.playlistItem:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-top: calc(2 / 16 * 100%);
}

.playlistItem,
.playlistItem * {
  transition: 0.3s ease-out;
}

.playlistItem h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.playlistInfoWrap {
  width: 100%;
  text-align: left;
}

.playlistItem:hover {
  background-color: #2f3638;
}

.playlistItem:hover .playlistImageOverlay,
.playlistItem:focus .playlistImageOverlay {
  opacity: 1;
}

.playlistImageWrap,
.playlistImageOverlay,
.playlistImageWrap img {
  width: 100%;
  height: 100%;
}

.playlistImageWrap {
  padding-top: 100%;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  border: 1px #383f41 solid;
  margin: 0 0 auto 0;
}

.playlistImageOverlay,
.playlistImageWrap img {
  position: absolute;
  top: 0;
  left: 0;
}

.playlistImageOverlay {
  display: flex;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.playlistPlayButton {
  height: 65px;
  width: 65px;
  color: white;
  margin: 0 auto;
  outline: none;
}

.playlistPlayButton:hover {
  transform: scale(1.1);
}

.playlistPlayButton:active {
  transform: scale(0.9);
}

@media (min-width: 800px) {
  .singleSource {
    margin-right: 30px;
  }

  .libraryWrapper {
    margin: 1rem 2rem 0 2rem;
    padding: 1rem;
  }

  .listTitle {
    padding-left: 3.4rem;
  }

  .pageWrapper {
    margin: 80px 0;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    padding: 3rem;
  }

  .listContainer {
    background-color: #1e2629;
  }

  .mobileCategoryList {
    display: none;
  }

  .desktopCategoryList {
    display: flex;
    text-align: center;
    position: sticky;
    top: 245px;
    z-index: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }

  .categoryWrapper {
    max-width: 1200px;
    font-size: 17px;
    width: auto;
    margin: 15px 30px;
    padding: 10px 10px;
    text-align: center;
    border-bottom: none;
    transition: 0.3s ease;
    border-radius: 7px;
  }

  .categoryWrapper:hover {
    color: white;
  }

  .activeSection {
    margin: 15px 10px;
    padding: 10px 30px;

    background-color: #232a2d;
    color: #b8ced3;
  }

  .mobileAddPlaylist {
    display: none;
  }
}

@media (min-width: 1025px) {
  .dropDownButton {
    margin-left: 0;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@keyframes mainBar {
  0% {
    height: 1.8rem;
  }
  60% {
    height: 0.6rem;
  }
  100% {
    height: 2rem;
  }
}

@keyframes secBar {
  0% {
    height: 0.4rem;
  }
  60% {
    height: 1.9rem;
  }
  100% {
    height: 0.6rem;
  }
}
