.libraryWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #192124;
  overflow: auto;
}

.searchForm {
  padding-left: 45px;
  width: 400px;
  box-sizing: border-box;
}

.searchBar {
  float: left;
  display: block;
  height: 35px;
  width: 130px;
  margin: 1rem auto;
  padding-left: 20px;
  border-radius: 7px;
  border: none;
  background-color: #bbb;
  box-sizing: border-box;
  transition: 0.4s ease;
}

.searchBar::placeholder {
  color: black;
}

.searchBar:focus {
  outline: none;
  background-color: #fff;
  width: 350px;
}

.searchBar:hover {
  cursor: text;
  background-color: #fff;
}

.searchIcon,
.xButton {
  position: fixed;
  left: 4.5rem;
  top: 7rem;
  color: #aaa;
  width: 2rem;
  height: 2rem;
}

.xButton {
  right: 4.5rem;
  left: auto;
  background-color: transparent;
  border: none;
}

.relativeWrapper {
  position: relative;
  max-width: 1300px;
}

.artistLink {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.trackWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 75px;
  width: 100%;
  max-width: 1310px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #ddd;
  background-color: inherit;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  transition: 0.3s ease-out;
  border-radius: 7px;
}

.trackWrapper:focus {
  outline: none;
}

.trackWrapper a {
  color: black;
  text-decoration: none;
}

.titleWrapper {
  pointer-events: none;
  flex-grow: 1;
}

.stackedArtistName {
  color: #ffd46b;
}

.singleArtistName,
.singleGenre,
.singleTime,
.ellipsisV {
  display: none;
  margin-right: auto;
  text-align: left;
}

.ellipsisH,
.ellipsisV {
  color: #aaa;
  text-align: center;
}

.trackDropdown {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #383f41;
  padding: 0.5rem;
  padding-left: 0.7rem;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.trackDropdown > * {
  margin-top: 0.5rem;
}

.dropDownButton {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  transition: 0.4s ease;
}

.dropDownButton:hover {
  background-color: #192124;
  border: 1px #2f3638 solid;
  cursor: pointer;
}

.dropDownButton:active {
  transform: scale(1.2);
}

.activeDropDown {
  color: black;
  border: 1px #2f3638 solid;
  background-color: #192124;
}

.activeDropDown span,
.dropDownButton:hover span {
  color: #ffd46b;
}

.dropDownButton:focus {
  outline: none;
}

.dropdownOption {
  color: #ccc;
  display: flex;
  width: inherit;
  padding-left: 0;
}

.dropdownOption:hover {
  cursor: pointer;
  color: #fb1;
}

.dropdownOption *:first-child {
  padding-right: 0.5rem;
  width: 1rem;
}

.dropdownOption:active {
  color: red;
}

.playingNow {
  background-color: #2f3638;
}

.duration {
  color: #bbb;
}

.trackRightControls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackImageWrap {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  border-radius: 7px;
}

.trackImageWrap,
.trackImageWrap,
.overlay {
  height: 3rem;
  width: 3rem;
}

.trackImageWrap img {
  /* border: 1px grey solid; */
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}

.trackImage {
  /* border-radius: 0.5rem; */
  border-radius: 7px;
}

.artistImage {
  /* border-radius: 50%; */
  border-radius: 7px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.bar {
  width: 0.2rem;
  height: 1.9rem;
  background-color: white;
  margin: 0.25rem;
  border-radius: 0.5rem;
  animation: mainBar ease-in-out 0.8s infinite;
}

.midBar {
  height: 0.8rem;
  width: 0.2;
  animation: secBar ease-in-out 0.8s infinite;
}

.paused {
  animation-play-state: paused;
}

.mobileAddPlaylist {
  color: red;
  position: fixed;
  top: 1.5rem;
  right: 0;
  z-index: 3;
  font-size: 2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  margin-top: -20rem;
  margin-left: -10rem;
  z-index: 4;
}

.modalChildrenContainer {
  width: inherit;
}

.modal > button {
  align-self: flex-end;
}

.modal > button:active {
  color: red;
}

.playlistForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.newPlaylistFormLabel > input,
.playlistForm label > h3 {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.playlistForm input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background: #eee;
  box-sizing: border-box;
}

.playlistForm > button[type="submit"] {
  width: auto;
  margin-top: 1rem;
  align-self: flex-end;
  background-color: black;
  border-radius: 1rem;
  color: white;
}

.formScrollContainer {
  overflow-y: auto;
  max-height: 15rem;
}

.checkboxLabel,
.textboxLabel,
.editTextLabel {
  display: flex;
  border-bottom: 1px #eee solid;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.textboxLabel {
  border-bottom: none;
  margin-top: 1rem;
  padding-left: 0.6rem;
}

.textboxLabel input[type="text"] {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.checkboxLabel svg,
.textboxLabel svg {
  margin-top: auto;
  margin-bottom: auto;
}

.checkboxLabel:active {
  background-color: #eee;
}

.checkboxLabel > input[type="checkbox"] {
  margin: 0;
  margin-left: auto;
  opacity: 0;
}

.checkboxLabel > *:last-child {
  margin-left: auto;
}

.editTextLabel {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.editTextLabel > span {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.editTextLabel > span > * {
  float: right;
}

.editTextLabel input[type="text"] {
  width: inherit;
}

.confirmWrapper {
  position: relative;
  height: 10rem;
  top: 50%;
  display: flex;
  justify-content: space-around;
}

.confirmWrapper button {
  align-self: center;
  height: auto;
  background-color: black;
  border-radius: 1rem;
  color: white;
}

.categoryListWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: #171e21;
}

.desktopCategoryList {
  display: none;
}

.categoryWrapper {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px #333 solid;
  color: inherit;
  background-color: inherit;
  overflow: hidden;
  text-decoration: none;
  color: #626d70;
}

@media (min-width: 800px) {
  .libraryWrapper {
    padding: 2rem 2rem;
  }

  .mobileCategoryList {
    display: none;
  }

  .desktopCategoryList {
    display: flex;
    text-align: center;
    position: sticky;
    top: 245px;
    z-index: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }

  .categoryWrapper {
    max-width: 1200px;
    font-size: 17px;
    width: auto;
    margin: 15px 30px;
    padding: 10px 10px;
    text-align: center;
    border-bottom: none;
    transition: 0.3s ease;
    border-radius: 7px;
  }

  .categoryWrapper:hover {
    color: white;
  }

  .activeSection {
    margin: 15px 10px;
    padding: 10px 30px;

    background-color: #232a2d;
    color: #b8ced3;
  }
  .titleWrapper {
    /* width: 550px; */
  }
  .mobileAddPlaylist {
    display: none;
  }
}
.singleArtistName {
  color: #ffd46b;
}

@media (min-width: 1025px) {
  .trackWrapper:focus,
  .trackWrapper:hover {
    background-color: #2f3638;
  }

  .ellipsisH,
  .duration {
    display: none;
  }
  .singleTime,
  .ellipsisV {
    display: block;
  }

  .dropDownButton {
    margin-left: 0;
  }

  .singleTime {
    width: 60px;
    margin-right: 20px;
  }

  .titleWrapper {
  }
}

@media (min-width: 1400px) {
  .singleArtistName {
    display: block;
    width: 300px;
  }

  .stackedArtistName {
    display: none;
  }

  .singleTime {
    margin-right: auto;
  }
}

@media (min-width: 1600px) {
  .singleGenre {
    width: 250px;
    display: inline;
  }
}

@keyframes mainBar {
  0% {
    height: 1.8rem;
  }
  60% {
    height: 0.6rem;
  }
  100% {
    height: 2rem;
  }
}

@keyframes secBar {
  0% {
    height: 0.4rem;
  }
  60% {
    height: 1.9rem;
  }
  100% {
    height: 0.6rem;
  }
}
