/* Slide animation for music player */
.enter {
  transform: translateY(400%);
}

.enterActive {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(400%);
  transition: transform 500ms ease-in-out;
}
