/* Seek Track styles */
.mobileSeekRange {
  -webkit-appearance: none;
  width: 100%;
  margin: 13px 0;
}

.mobileSeekRange:focus {
  outline: none;
}

.mobileSeekRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}

.mobileSeekRange::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 27px;
  width: 6px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}

.mobileSeekRange:focus::-webkit-slider-runnable-track {
  background: #000000;
}

.mobileSeekRange::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000000;
  border-radius: 0px;
}

.mobileSeekRange::-moz-range-thumb {
  border: 1px solid #000000;
  height: 27px;
  width: 6px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
}

.mobileSeekRange::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.mobileSeekRange::-ms-fill-lower {
  background: #000000;
  border-radius: 0px;
}

.mobileSeekRange::-ms-fill-upper {
  background: #000000;
  border-radius: 0px;
}

.mobileSeekRange::-ms-thumb {
  border: 1px solid #000000;
  height: 27px;
  width: 6px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  height: 1px;
}

.mobileSeekRange:active::-webkit-slider-thumb {
  height: 39px;
  margin-top: -19px;
}

.mobileSeekRange:active::::-moz-range-thumb {
  height: 45px;
  margin-top: -19px;
}

.mobileSeekRange:active::-ms-thumb {
  height: 45px;
  margin-top: -19px;
}
