.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40vh;
  left: 50vw;
  width: 80vw;
  height: auto;
  max-height: 60vh;
  margin-top: -25vh;
  margin-left: -40vw;
  border-radius: 10px;
  color: #aaa;
  background-color: #192124;
  z-index: 4;
  overflow: hidden;
}

.modalHeader {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: #151d20;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px #383f41 solid;
  justify-content: space-between;
  padding: 0 25px;
}

.modalTitle {
  font-size: 20px;
  font-weight: 600;
  color: #aaa;
}

.closeButton {
  cursor: pointer;
  color: #aaa;
}

.closeButton:hover {
  transition: 0.2s ease;
  color: white;
}

.modalForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 6px 25px 0;
  align-items: center;
  flex-shrink: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #192124;
}

.modalForm h2 {
  color: #bbb;
}

.formInnerWrapper {
  flex: 1;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 25px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.modalForm input[type="text"] {
  flex: 1;
  margin-right: 20px;
  height: inherit;
}

.modal input[type="text"] {
  border-radius: 7px;
  background: #bbb;
  box-sizing: border-box;
  border: none;
  transition: 0.4s ease;
}

.modal input[type="text"]:focus {
  background: white;
}

.modal input[type="text"]::placeholder {
  color: black;
}

.usernameForm {
  width: 300px;
  display: flex;
  height: 100%;
}

.usernameInputLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.usernameInputLabel button {
  color: inherit;
  border-radius: 7px;
  border: 1px #383f41 solid;
}

.usernameInput {
  margin-right: auto;
  transition: 0.4s ease;
  width: 150px;
  padding: 3px 10px;
}

.usernameInput:focus {
  outline: none;
  background-color: #fff;
  width: 230px;
}

.usernameInput:hover {
  cursor: text;
  background-color: #fff;
}

.formLabel {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.formCancelSubmitButtonGroup {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  min-height: 45px;
  margin: 20px 25px 0 auto;
}

.formCancelSubmitButtonGroup button {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 7px;
}

.formCancelButton {
  color: #999;
  margin-right: 20px;
}

.formSubmitButton {
  transition: 0.3s ease-out;
  background-color: #ce9300;
  color: black;
  outline: none;
}

.formSubmitButton:hover {
  background-color: #fb1;
}

.formSubmitButton:hover {
  cursor: pointer;
}

.textfieldCheckmarkLabel {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.textfieldCheckmarkLabel svg,
.checkboxLabel svg {
  margin-left: auto;
}

.checkboxLabel,
.editTextLabel {
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s ease-out;
  display: flex;
  min-height: 7px;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin: 0 25px;
  padding: 5px 20px;
  border-radius: 7px;
  min-height: 30px;
  box-sizing: border-box;
}

.checkboxLabel:hover {
  background-color: #2f3638;
}

.checkboxLabel:active {
  background-color: #eee;
}

.checkboxLabel span {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxLabel > input[type="checkbox"] {
  margin-left: auto;
  opacity: 0;
}

.changesMade {
  color: #ffd46b;
}

.editTextLabel {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.editTextLabel > span {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.editTextLabel > span > * {
  float: right;
}

.editTextLabel input[type="text"] {
  width: inherit;
}

.confirmWrapper {
  position: relative;
  height: 10rem;
  top: 50%;
  display: flex;
  justify-content: space-around;
}

.confirmWrapper button {
  align-self: center;
  height: auto;
  background-color: black;
  border-radius: 7px;
  color: white;
}

.formTitle {
  font-weight: 600;
  padding-left: 10px;
  margin: 35px 25px 0 25px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px #383f41 solid;
}

.profileWrap {
  display: flex;
  padding: 25px 35px 0 35px;
}

.profilePicWrap {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 7px;
}

.profilePicWrap img {
  height: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  max-width: 300px;
}

.profileAnchor {
  text-decoration: none;
  color: inherit;
}

.profileDetails svg {
  opacity: 0;
  margin-left: 5px;
  color: white;
}

.editUsernameButton {
  display: flex;
  color: inherit;
  padding: 0;
  font-size: inherit;
}

.editUsernameButton:hover {
  cursor: pointer;
}

.editUsernameButton:active {
  outline: none;
}

.editUsernameButton,
.editUsernameButton svg,
.profileAnchor,
.profileAnchor svg {
  transition: 0.3s ease;
}

.editUsernameButton:hover {
  color: white;
}

.editUsernameButton:hover svg {
  opacity: 1;
}

.profileLinkWrapper {
  max-width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}

.profileAnchor:hover {
  color: white;
}

.profileAnchor:hover svg {
  opacity: 1;
}

.syncButton {
  padding: 10px;
  margin-left: auto;
  color: #aaa;
  border-radius: 7px;
  border: 2px #383f41 solid;
  transition: 0.3s ease;
  outline: none;
}

.syncButton:disabled {
  color: #383f41;
}

.syncButton svg {
  margin-top: auto;
}

.syncButton:active {
  background-color: #eee;
}

.syncButton:disabled:active {
  background-color: inherit;
}

.rotate {
  transition: 1s ease;
  transform: rotate(360deg);
}

@media (min-width: 800px) {
  .modal {
    left: 50%;
    width: 500px;
    margin-left: -250px;
  }
}
