.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 80vw;
  height: auto;
  max-height: 50vh;
  margin-top: -25vh;
  margin-left: -40vw;
  background-color: #192124;
  border-radius: 10px;
  color: #eee;
  z-index: 4;
  overflow: hidden;
}

.modalHeader {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: #151d20;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px #383f41 solid;
  justify-content: space-between;
  padding: 0 25px;
}

.modalTitle {
  font-size: 20px;
  font-weight: 600;
  color: #aaa;
}

.closeButton {
  cursor: pointer;
  color: #aaa;
}

.closeButton:hover {
  transition: 0.2s ease;
  color: white;
}

.modalForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 25px;
  align-items: center;
  flex-shrink: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.modalForm h2 {
  color: #bbb;
}

.formInnerWrapper {
  flex: 1;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modalForm input[type="text"] {
  flex: 1;
  margin-right: 20px;
  height: inherit;
  padding: 5px 10px;
  border-radius: 7px;
  background: #ddd;
  box-sizing: border-box;
}

.modalForm input[type="text"]:focus {
  background: white;
}

.formLabel {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.formCancelSubmitButtonGroup {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  min-height: 45px;
  margin-bottom: 0;
  margin-top: 10px;
}

.formCancelSubmitButtonGroup button {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 7px;
}

.formCancelButton {
  color: #999;
  margin-right: 20px;
}

.formSubmitButton {
  background-color: #fb1;
  color: black;
}

.textfieldCheckmarkLabel {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.textfieldCheckmarkLabel svg,
.checkboxLabel svg {
  margin-left: auto;
}

.checkboxLabel,
.editTextLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  min-height: 5px;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px 0;
}

.checkboxLabel:active {
  background-color: #eee;
}

.checkboxLabel span {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxLabel > input[type="checkbox"] {
  margin-left: auto;
  opacity: 0;
}

.changesMade {
  color: #ffd46b;
}

.editTextLabel {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.editTextLabel > span {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.editTextLabel > span > * {
  float: right;
}

.editTextLabel input[type="text"] {
  width: inherit;
}

.confirmWrapper {
  position: relative;
  height: 10rem;
  top: 50%;
  display: flex;
  justify-content: space-around;
}

.confirmWrapper button {
  align-self: center;
  height: auto;
  background-color: black;
  border-radius: 7px;
  color: white;
}
