.playerAndSeekContainer {
  position: relative;
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 84px;
  display: flex;
  flex-direction: column;
}

.playerWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #121a1d;
  color: white;
  padding: 0 12px;
  align-items: center;
  border-top: 1px #383f41 solid;
  box-sizing: border-box;
  border-radius: 7px;
}

.miniPlayer button {
  transition: 0.15s ease;
  padding: 0;
}
.miniPlayer button:hover svg {
  fill: #ffd46b;
}
.miniPlayer button:focus {
  outline: none;
}
.miniPlayer button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.miniPlayerExpandButton,
.miniPlayerPlayButton,
.forwardButton,
.backwardButton {
  height: 30px;
  width: 30px;
  border-radius: 7px;
  /* border: 1px #383f41 solid; */
}

.desktopPlayPauseButton {
  width: 50px;
  height: 50px;
}
.desktopButtonGroup,
.miniPlayerImageWrap,
.slider {
  display: none;
}
.desktopButtonGroup {
  width: 150px;
}

.miniPlayerImageWrap,
.miniPlayerImageWrap img {
  height: 60px;
  width: auto;
  border-radius: 7px;
}

.miniPlayer:active {
  background-color: #555;
}

.playerWrapper svg {
  color: white;
  fill: white;
  font-size: 1.3rem;
}

.nowPlaying {
  text-align: center;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nowPlayingArtist {
  color: #ffd46b;
}

.playerOpen {
  height: 95%;
  flex-direction: column;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-shadow: 0px -6px 3px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  bottom: 0;
  box-sizing: border-box;
  z-index: 4;
}

.playerWrapper button:active {
  color: red;
}

.playerOpen svg {
  font-size: 3rem;
}

.playerOpen img {
  width: 85%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.closeButton {
  align-self: flex-start;
  margin: 1rem 0 0 1rem;
}

.expandedPlayerControls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Svg Icon inside second button (Play button) */
.expandedPlayerControls button:nth-child(2) svg {
  font-size: 5rem;
}

.titleWrapperExpanded {
  width: 100%;
  text-align: center;
}

.volumeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.volumeContainer > * {
  margin: 0 1rem;
}

.sliderContainer,
.sliderContainer input {
  width: 100%;
}

/* Seek Track styles */
.mobileSeekRange {
  -webkit-appearance: none;
  width: 100%;
  margin: 13px 0;
}

.mobileSeekRange:focus {
  outline: none;
}

.mobileSeekRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}

.mobileSeekRange::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 27px;
  width: 6px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}

.mobileSeekRange:focus::-webkit-slider-runnable-track {
  background: #000000;
}

.mobileSeekRange::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000000;
  border-radius: 0px;
}

.mobileSeekRange::-moz-range-thumb {
  border: 1px solid #000000;
  height: 27px;
  width: 6px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
}

.mobileSeekRange::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.mobileSeekRange::-ms-fill-lower {
  background: #000000;
  border-radius: 0px;
}

.mobileSeekRange::-ms-fill-upper {
  background: #000000;
  border-radius: 0px;
}

.mobileSeekRange::-ms-thumb {
  border: 1px solid #000000;
  height: 27px;
  width: 6px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  height: 1px;
}

.mobileSeekRange:active::-webkit-slider-thumb {
  height: 39px;
  margin-top: -19px;
}

.mobileSeekRange:active::::-moz-range-thumb {
  height: 45px;
  margin-top: -19px;
}

.mobileSeekRange:active::-ms-thumb {
  height: 45px;
  margin-top: -19px;
}

@media (min-width: 800px) {
  .playerAndSeekContainer {
    bottom: 0;
    right: 0;
    left: 230px;
    width: auto;
    height: 81px;
    border-radius: 0;
  }

  .miniPlayer:active {
    background-color: #121a1d;
  }

  .miniPlayerExpandButton,
  .miniPlayerPlayButton {
    display: none;
  }

  .miniPlayerImageWrap {
    display: block;
    margin-right: 15px;
  }
  .desktopButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktopButtonGroup {
    padding: 0 20px;
  }

  .nowPlaying {
    flex: 1;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
  }

  .volumeSlider {
    flex: 1;
  }

  .forwardButton,
  .backwardButton,
  .slider {
    display: block;
  }
}

input[type="range"].slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 150px;
  margin-left: auto;
  background: #151d20;
}

input[type="range"].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #444444;
  border-radius: 25px;
}
input[type="range"].slider::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  /* Thumb Color */
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"].slider:focus::-webkit-slider-runnable-track {
  background: #444444;
}
input[type="range"].slider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #444444;
  border-radius: 25px;
}
input[type="range"].slider::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  cursor: pointer;
}
input[type="range"].slider::-ms-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].slider::-ms-fill-lower {
  background: #444444;
  border-radius: 50px;
}
input[type="range"].slider::-ms-fill-upper {
  background: #444444;
  border-radius: 50px;
}
input[type="range"].slider::-ms-thumb {
  width: 10px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type="range"].slider:focus::-ms-fill-lower {
  background: #444444;
}
input[type="range"].slider:focus::-ms-fill-upper {
  background: #444444;
}
/* input[type="range"].slider::-moz-range-progress {
  background: red;
} */
