.playerAndSeekContainer {
  position: relative;
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 84px;
  display: flex;
  flex-direction: column;
}

.playerWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #121a1d;
  color: white;
  padding: 0 12px;
  align-items: center;
  border-top: 1px #383f41 solid;
  box-sizing: border-box;
}

.youtubeContainer {
  border-radius: 7px;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  bottom: 7px;
  left: 12px;
  position: absolute;
  z-index: 5;
  transition: 2s linear;
  border: 1px transparent solid;
  display: none;
}

.youtubeIsPlaying {
  opacity: 1;
}

.youtubeContainer iframe {
  /* width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}

.miniPlayer button,
.miniPlayer button svg {
  transition: 0.3s ease;
  padding: 0;
}
.miniPlayer button:hover svg {
  fill: #ffd46b;
}
.miniPlayer button:focus {
  outline: none;
}
.miniPlayer button:hover {
  cursor: pointer;
}
.miniPlayer button:active {
  transform: scale(0.9);
}
.miniPlayerExpandButton,
.miniPlayerPlayButton,
.forwardButton,
.backwardButton {
  height: 30px;
  width: 30px;
  border-radius: 7px;
}

.forwardButton {
  margin-right: 10px;
}

.backwardButton {
  margin-left: 10px;
}

.desktopPlayPauseButton {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.desktopButtonGroup,
.miniPlayerImageWrap,
.volumeSlider {
  display: none;
}
.desktopButtonGroup {
  min-width: 200px;
}

.miniPlayerImageWrap {
  height: 56px;
  width: auto;
  overflow: hidden;
  border-radius: 7px;
}

.miniPlayerImageWrap img {
  max-height: 100%;
  width: auto;
}

.miniPlayerImageWrap {
  border: 1px #383f41 solid;
  overflow: hidden;
}

.miniPlayer:active {
  background-color: #555;
}

.playerWrapper svg {
  color: white;
  fill: white;
  font-size: 1.3rem;
}

.nowPlaying {
  text-align: center;
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.titleWrapper {
  flex: 1;
  width: 75%;
  overflow: hidden;
}

.titleWrapper > div {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nowPlayingArtist {
  color: #ffd46b;
}

.playerOpen {
  height: 95%;
  flex-direction: column;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-shadow: 0px -6px 3px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  bottom: 0;
  box-sizing: border-box;
  z-index: 4;
}

.playerWrapper button:active {
  color: red;
}

.playerOpen svg {
  font-size: 3rem;
}

.playerOpen img {
  width: 85%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.closeButton {
  align-self: flex-start;
  margin: 1rem 0 0 1rem;
}

.expandedPlayerControls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Svg Icon inside second button (Play button) */
.expandedPlayerControls button:nth-child(2) svg {
  font-size: 5rem;
}

.titleWrapperExpanded {
  width: 100%;
  text-align: center;
}

.volumeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.volumeContainer > * {
  margin: 0 1rem;
}

.sliderContainer,
.sliderContainer input {
  width: 100%;
}

.playerRightControls {
  display: none;
}

.playerRightControls button:hover svg {
  color: #ffc842;
}

.playerRightControls > button {
  display: none;
}

.playerRightControls > :first-child {
  margin-left: auto;
}

.volumeWrapper {
  margin-left: auto;
  display: none;
  cursor: pointer;
}

.volumeWrapper:hover .volumeLowerFill {
  background-color: #ffc842;
}

.volumeWrapper:hover .volumeIconButton svg {
  color: #ffc842;
}

.volumeIconButton {
  width: 25px;
}

.volumeIconButton:hover ~ .volumeLowerFill {
  background-color: #b3b3b3;
}

.volumeWrapper svg {
  margin-bottom: 0;

  color: #b3b3b3;
  transition: 0.3s ease-out;
}

.volumeLowerFill {
  transition: 0.3s ease-out;
  position: absolute;
  bottom: 3px;
  min-height: 5px;
  max-height: 5px;
  border-radius: 5px;
  background-color: #b3b3b3;
  pointer-events: none;
}

input[type="range"].volumeSlider {
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  max-width: 125px;
  background: #151d20;
  margin-bottom: 4px;
  margin-right: 0;
  padding: 5px 0;
  background-color: transparent;
  cursor: pointer;
}

input[type="range"].volumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #444444;
  border-radius: 25px;
}
input[type="range"].volumeSlider::-webkit-slider-thumb {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  /* Thumb Color */
  background: #444444;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"].volumeSlider:focus::-webkit-slider-runnable-track {
  background: #444444;
}
input[type="range"].volumeSlider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #444444;
  border-radius: 5px;
}
input[type="range"].volumeSlider::-moz-range-thumb {
  height: 0px;
  width: 0px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}
input[type="range"].volumeSlider::-ms-track {
  width: 100%;
  height: 27px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].volumeSlider::-ms-fill-lower {
  background: #444444;
  border-radius: 50px;
}
input[type="range"].volumeSlider::-ms-fill-upper {
  background: #444444;
  border-radius: 50px;
}
input[type="range"].volumeSlider::-ms-thumb {
  width: 10px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type="range"].volumeSlider:focus::-ms-fill-lower {
  background: #444444;
}
input[type="range"].volumeSlider:focus::-ms-fill-upper {
  background: #444444;
}

@media (min-width: 800px) {
  .playerAndSeekContainer {
    bottom: 0;
    right: 0;
    left: 230px;
    width: auto;
    height: 81px;
    border-radius: 0;
  }

  .youtubeContainer {
    display: inline-block;
  }

  .miniPlayer:active {
    background-color: #121a1d;
  }

  .miniPlayerExpandButton,
  .miniPlayerPlayButton {
    display: none;
  }

  .miniPlayerImageWrap {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desktopButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktopButtonGroup {
    padding: 0 20px;
  }

  .nowPlaying {
    flex: 1;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
  }

  .playerRightControls {
    flex: 1;
    position: relative;
    align-items: center;
    display: flex;
    height: 10px;
  }

  .volumeWrapper {
    position: relative;
    align-items: center;
    display: flex;
    /* max-height: 5px; */
    height: 10px;
  }

  .forwardButton,
  .backwardButton,
  .volumeSlider {
    display: block;
  }
}

@media (min-width: 900px) {
  .volumeWrapper {
    margin-left: 0;
  }
  .playerRightControls button {
    display: inline;
    width: 25px;
    margin-right: 5px;
  }
}
