@import "variables";

.playerAndSeekContainer {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: relative;
  background-color: $bg0;
}

.mobilePlayerWrapper {
  outline: none;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.15s linear;
  padding: 0 10px;

  &:active {
    background-color: $bg11;
  }

  svg {
    font-size: 18px;
  }

  button {
    width: 30px;
    height: 30px;

    &:hover,
    &:active {
      color: $primaryLight;
    }
  }

  // Override track-info component
  // Disable artist anchors in mobile mini player
  a {
    cursor: default;
    pointer-events: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.desktopPlayerWrapper {
  display: none;
  width: calc(100vw - 230px);
  height: 100%;
  color: white;
  padding: 0 12px;
  align-items: center;
  border-top: 1px $borderAccent solid;
  box-sizing: border-box;

  .playerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 56px;
    min-width: 56px;
    margin-right: 15px;

    img {
      max-height: 100%;
    }
  }

  .ytImage {
    height: 56px;
    min-width: 100px;
  }

  .playerRightControls {
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    height: 10px;

    > button {
      display: none;
    }

    svg {
      font-size: 16px;
    }
  }

  .imageOverlay {
    position: absolute;
    left: 12px;
    bottom: 10px;
    width: 56px;
    height: 56px;
    z-index: 10;
    border-radius: 7px;
    border: 1px transparent solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;

    opacity: 0;

    button {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  .ytOverlay {
    width: 100px;
  }
}

.youtubeContainer {
  display: none;
  border-radius: 7px;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  border: 1px transparent solid;
  transition: 0.3s linear opacity;

  position: fixed;
  left: 0;
  top: 75px;
  width: 100vw;
  padding-bottom: 56.25%;

  > iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.youtubeExpanded {
  transition: 0.3s linear opacity;
  display: block;

  animation: youtubeFadeIn 450ms;
  opacity: 1;
}

.nowPlaying {
  display: flex;
  justify-content: center;
  width: inherit;
  text-align: center;
  overflow: hidden;

  > :last-child,
  > div > div {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.backPlayForwardWrapper {
  min-width: 200px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Back button
  button:first-of-type {
    margin-left: 10px;
    height: 30px;
    width: 30px;
  }

  // Play button
  button:nth-of-type(2) {
    height: 50px;
    width: 50px;
    margin: 0 10px;
  }

  // Forward button
  button:last-of-type {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
}

.expandedPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: $textbg;
  background-color: rgba($bg2, 0.8);
  backdrop-filter: blur(5px);
  text-align: center;

  > * {
    margin-bottom: 10px;
  }

  .expandedPlayerHeader {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    height: 65px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;

    svg {
      font-size: 25px;
    }
  }

  .expandedPlayerImageWrapper {
    position: relative;
    width: calc(100vw - 20px);
    padding-top: 100%;
    height: auto;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: inherit;
      height: inherit;
    }
  }

  .expandedYtImage {
    @extend .expandedPlayerImageWrapper;
    width: 100vw;
    padding-top: 56.25%;
    height: auto;
  }

  .seekBarWrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    > span:nth-of-type(2) {
      padding: 0 10px;
      input {
        width: 50vw;
      }
    }
  }

  .mobileBackPlayForwardWrapper {
    @extend .backPlayForwardWrapper;
    justify-content: center;

    // Back and forward buttons
    button {
      height: 40px !important;
      width: 40px !important;
    }

    // Play button
    button:nth-of-type(2) {
      height: 70px !important;
      width: 70px !important;
      margin: 0 20px;
    }
  }
}

@media (min-width: 800px) {
  .playerAndSeekContainer {
    height: 81px;
    z-index: 1;

    .mobilePlayerWrapper {
      display: none;
    }

    .desktopPlayerWrapper {
      display: flex;
    }
  }

  .youtubeActive {
    opacity: 1;
    display: block;
  }

  .youtubeContainer {
    bottom: 10px;
    left: 11px;
    top: auto;
    position: absolute;
    border: 1px transparent solid;
    width: 100px;
    height: 56px;
    padding-bottom: 0;
    border-radius: 0;
  }

  .youtubeExpanded {
    position: absolute;
    padding-bottom: 56.25%;
    width: calc(100vw - 230px);
    box-sizing: border-box;
    z-index: -1;

    left: 50%;
    transform: translateX(-50%);
    top: calc(80px - 100vh);
  }

  .nowPlaying {
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    flex: 1;
  }

  .maxWidthImageWrap {
    overflow: hidden;
  }

  .expandedPlayer {
    box-sizing: border-box;
    left: 230px;
    bottom: 80px;
    width: calc(100vw - 230px); // width of sidebar
    height: calc(100vh - 80px); // height of player footer
    z-index: -2;

    > * {
      margin-bottom: 0;
    }

    .expandedPlayerHeader {
      display: none;
    }

    .expandedPlayerImageWrapper {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100vw - 230px);
      align-self: flex-start;
      > div {
        border-color: transparent;
        border-radius: 0;
      }
    }

    .expandedYtImage {
    }

    .nowPlaying {
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      flex: 0 1 auto;
    }

    .mobileBackPlayForwardWrapper,
    .seekBarWrapper {
      display: none;
    }
  }

  .desktopCloseExpandedPlayerButton {
    position: fixed;
    left: 255px;
    top: 25px;
    background-color: rgba($bg0, 0.9);
    border: 1px black solid;
    color: $primaryLight;
    box-shadow: 0px 0px 5px rgba(black, 0.8);
    border-radius: 50%;
    font-size: 25px;
    width: 40px;
    height: 40px;

    &:hover {
      background-color: $bg0;

      svg {
        color: $primary;
      }
    }

    animation: youtubeFadeIn 450ms;
  }
}

@media (min-width: 900px) {
  .desktopPlayerWrapper {
    .playerRightControls button {
      display: inline;
      width: 25px;
      margin-right: 5px;
    }
  }
}

@media (min-width: 1000px) {
  .expandedPlayer {
    .nowPlaying {
      display: none;
    }
  }
}

@keyframes youtubeFadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
