.progressContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 0px;
}

.progressBar {
  position: absolute;
  height: 1px;
  bottom: 0px;
  left: 0;
  transition: 0.35s ease-out;
  background-color: #fb1;
  pointer-events: none;
  z-index: 2;
  backface-visibility: hidden;
  filter: grayscale(1%);
}

.progressTrack {
  width: 100%;
  position: absolute;
  height: 1px;
  bottom: 0px;
  left: 0;
  transition: 0.35s ease-out;
  background-color: #383f41;
  pointer-events: none;
  z-index: 1;
  backface-visibility: hidden;
  filter: grayscale(1%);
}

.desktopSeekBar {
  display: none;
  background: transparent;
}

.progressContainer:hover .progressBar {
  transform: scaleY(10);
  background: #ffc842;
}

.progressContainer:hover .progressTrack {
  transform: scaleY(10);
}

/* .progressContainer:hover .desktopSeekBar::-moz-range-track {
  transform: scaleY(10);
  background-color: #ffc842;
} */

.progressContainer:hover ~ .playerWrapper .timeContainer {
  color: #ffd46b;
}

.timeContainer {
  font-size: 11px;
  transition: 0.2s linear;
  color: #bbb;
}

input[type="range"].desktopSeekBar {
  -webkit-appearance: none;
  width: 100%;
  opacity: 0;
  min-height: 20px;
  z-index: 5;
  cursor: pointer;
}

input[type="range"].desktopSeekBar:focus {
  outline: none;
}

input[type="range"].desktopSeekBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #383f41;
}

input[type="range"].desktopSeekBar::-webkit-slider-thumb {
  height: 1px;
  width: 1px;
  background: #383f41;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"].desktopSeekBar:focus::-webkit-slider-runnable-track {
  background: #383f41;
}

input[type="range"].desktopSeekBar::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #383f41;
}

input[type="range"].desktopSeekBar::-moz-range-thumb {
  height: 1px;
  width: 1px;
  background: #383f41;
  cursor: pointer;
}

input[type="range"].desktopSeekBar::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].desktopSeekBar::-ms-fill-lower {
  background: #fcfcfc;
}

input[type="range"].desktopSeekBar::-ms-fill-upper {
  background: #383f41;
  border: 0.2px solid #010101;
}

input[type="range"].desktopSeekBar::-ms-thumb {
  height: 1px;
  width: 10px;
  background: #383f41;
  cursor: pointer;
  height: 5px;
}

input[type="range"].desktopSeekBar:focus::-ms-fill-lower {
  background: #383f41;
}

input[type="range"].desktopSeekBar:focus::-ms-fill-upper {
  background: #383f41;
}

.seekToolTip {
  position: absolute;
  width: 50px;
  height: 40px;
  bottom: 15px;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}

.hoverTime {
  position: absolute;
  width: 50px;
  height: 25px;
  bottom: 5px;
  left: 0;
  padding: 2px 4px;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 600;
  color: #ffd46b;
  background-color: #121a1d;
  transition: 0.25s ease-in;
  transform: translateY(40px);
}

.isHovering {
  transform: translateY(0px);
}

@media (min-width: 800px) {
  .progressContainer {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    z-index: 1;
  }

  .progressBar,
  .progressTrack {
    bottom: 9px;
  }

  .desktopSeekBar {
    display: inline;
    position: absolute;
    bottom: 0px;
  }
}
