.sidebarWrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #121a1d;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebarWrapper > * {
  overflow: hidden;
  flex: 0 0 1 0;
}

.sidebarHeader {
  min-height: 80px;
  max-height: 80px;
  text-align: center;

  box-sizing: border-box;
}

.logoWrapper {
  height: 70px;
  width: inherit;
  border-radius: 7px;
  margin: 10px;
  transition: 0.3s ease;
}

.logoWrapper:hover {
  cursor: pointer;
  background-color: #192124;
}

.sidebarHeader svg {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  width: 60%;
  height: 60%;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebarWrapper .sectionWrapper:nth-child(2) {
  /* App bar navigation */
  min-height: 180px;
}

.playlistContainer {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.playlistContainer {
  scrollbar-color: #6f7c7f #121a1d;
  scrollbar-width: thin;
}

.playlistContainer::-webkit-scrollbar-track {
  background-color: #121a1d;
}

.sectionWrapper h2 {
  padding-left: 5px;
  margin: 12px;
  margin-bottom: 0;
  color: #ccc;
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 5px;
}

.sidebarNavLink {
  color: #999;
  font-size: 14px;
  text-decoration: none;
  padding: 7px 0 7px 18px;
  margin: 0 12px;
  border-radius: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.4s ease-out;
  position: relative;
}

.sidebarNavLink svg {
  margin-right: 10px;
}

.sourceIcon {
  margin-left: auto;
  display: none;
}

.speakerIcon {
  margin-left: auto;
}

.sidebarNavLink:hover {
  color: white;
}

.sidebarNavLink:hover .speakerIcon {
  display: none;
}

.sidebarNavLink:hover .sourceIcon {
  display: block;
  animation: fadeInFromNone 0.5s ease-out;
  display: block;
}

@keyframes fadeInFromNone {
  /* https://stackoverflow.com/questions/8449933/animation-css3-display-opacity/8450102 */
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
  101% {
    display: block;
  }
}

.activeNavLink {
  color: white;
  background-color: #232a2d;
}

.sidebarFooter {
  border-top: 1px #383f41 solid;
  margin-top: auto;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebarFooter button {
  transition: 0.2s ease;
  outline: none;
  font-size: 30px;
  color: #505a5b;
  cursor: pointer;
}

.sidebarFooter button:hover {
  color: white;
}

.sidebarFooter svg {
  font-size: 30px;
}

.connectedSource > svg {
  color: #ffc842;
}

.connectedSource:hover {
  transform: scale(1.1);
}

.connectedSource:active {
  transform: scale(1);
}

@media (min-width: 800px) {
  .sidebarWrapper {
    display: flex;
    width: 230px;
  }
}
