/* Slide animation for music player */
.enter {
  transform: translateY(100%);
}

.enterActive {
  transform: translateY(0);
  transition: transform 400ms ease-in-out;
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(100%);
  transition: transform 400ms ease-in-out;
}
