/* Slide animation for modal */
.enter {
  transform: translateY(300%);
}

.enterActive {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(300%);
  transition: transform 0.4s ease-in;
}
