/* Slide animation for music player */
.enter {
  transform: translateY(100%);
}

.enterActive {
  transform: translateY(0);
  transition: transform 250ms ease-out;
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(100%);
  transition: transform 250ms ease-in;
}
