@import "variables";

.queueWrapper {
  position: fixed;
  width: 400px;
  bottom: 15px;
  right: 15px;
  z-index: 4;

  background-color: $bg7;
  border: 1px $borderAccent solid;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

  .queueTitle {
    margin: 15px 5px 0px 5px;
    color: $smallSubHeader;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
    }
  }
}

@media (min-width: 800px) {
  .queueWrapper {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 1;

    width: 400px;
    bottom: 95px;
    right: 15px;
    max-height: 65vh;
  }
}
