.loginWrapper {
  min-width: 300px;
  max-width: 400px;
  padding: 5rem;
  background: white;
  margin: 0 auto;
  border-radius: 2rem;
  margin-top: 30vh;
  box-shadow: 1px 3px 10px #a2740080;
  text-align: center;
  box-shadow: inset 0px 0px 20px rgb(0, 0, 0, 0.5);
}

.loginWrapper a {
  text-decoration: none;
}

.loginHeaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginHeaderWrapper h1 {
  font-size: 2rem;
  display: inline;
  width: 200px;
  color: grey;
  padding-left: 35px;
  /* text gradient clip */
  /* background-image: linear-gradient(to left bottom, #3188aa, #663cb6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; */
}

.loginHeaderWrapper svg {
  transition: 0.2s ease;
  fill: black;
  width: 60%;
}

.loginHeaderWrapper:hover svg {
  fill: #663cb6;
}

.loginWrapper h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

.loginListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  text-align: center;
}

.oAuthLink {
  display: flex;
  width: 300px;
  background: white;
  color: black;
  padding: 16px 14px 18px;
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
  transition: 150ms ease-in-out;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
}

.oAuthLink:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  transform: translate(0, -7px);
}

.oAuthLink:active {
  transition: 0s;
  background-color: whitesmoke;
}

.loginListWrapper .oAuthLink:first-child:hover {
  border: 1px #1db954 solid;
  color: #1db954;
}
.loginListWrapper .oAuthLink:nth-child(2):hover {
  border: 1px red solid;
  color: red;
}

.otherPanelWrapper a {
  color: #3188aa;
}
.otherPanelWrapper a:hover {
  text-decoration: underline;
}

.loginListWrapper,
.otherPanelWrapper {
  font-size: 16px;
  font-weight: 600;
}
